{% extends 'admin/base.html.twig' %}

{% block title %}
    {{ metatitle }}
{% endblock %}

{% block admin_content %}

<section class="py-5 bg-light">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">

                <div class="card shadow rounded-4 border-0">
                    <div class="card-body p-5">

                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                            <div class="mb-3">
                                {{ form_label(form.title) }}
                                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.title) }}
                            </div>

                            <div class="mb-3">
                                {{ form_label(form.slug) }}
                                {{ form_widget(form.slug, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.slug) }}
                            </div>

                            <div class="mb-3">
                                {{ form_label(form.imageFile) }}
                                {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.imageFile) }}
                            </div>

                            <div class="mb-4">
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control wysiwyg', 'rows': 5}}) }}
                                {{ form_errors(form.description) }}
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="{{ path('admin_projects') }}" class="btn btn-default">
                                        ← Volver
                                    </a>                                
                                </div>
                                <div class="col-sm-6 text-end">
                                    <button class="btn btn-primary">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        {{ form_end(form) }}

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}