{% extends 'base.html.twig' %}

{% block title %}
    {{ metatitle }}
{% endblock %}

{% block body %}

    <section class="py-5">
        <div class="container px-5 mb-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-9">
                    <h1 class="display-5 fw-bolder mb-2"><span class="text-gradient d-inline">Proyectos</span></h1>
                    <p class="lead fw-light mb-5 text-muted">Cada proyecto es una oportunidad para resolver problemas, aprender algo nuevo y construir soluciones útiles. Esto en una pequeña muestra de mis trabajos y reflejan parte de ese camino.</p>
                </div>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-9">

                {% for project in projects %}
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">{{ project.title }}</h2>
                                    <p>{{ project.description|raw }}</p>
                                </div>
                                <img class="img-fluid" src="{{ asset('uploads/' ~ project.image) }}" alt="{{project.title}}" />
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>No projects found.</p>
                {% endfor %}


                </div>
            </div>
        </div>
    </section>
    <!-- Call to action section-->
    <section class="py-5 bg-gradient-primary-to-secondary text-white">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="display-4 fw-bolder mb-4">¿Construimos algo juntos?</h2>
                <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="tel:34630007878"><i class="bi bi-telephone"></i> Contacta conmigo</a>
            </div>
        </div>
    </section>

{% endblock %}