{% extends 'base.html.twig' %}

{% block title %}
    {{ metatitle }}
{% endblock %}

{% block body %}

    <!-- Page Content-->
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-9">
                <h1 class="display-5 fw-bolder mb-2"><span class="text-gradient d-inline">Currículum vitae</span></h1>
                <p class="lead fw-light mb-5 text-muted">En esta página encontrarás un resumen de mi experiencia profesional, las tecnologías con las que trabajo, mi formación y las principales habilidades que forman parte de mi perfil como desarrollador.</p>
            </div>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-9">
                <!-- Experience Section-->
                <section>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-primary fw-bolder mb-0">Experiencia</h2>
                        <!-- Download resume button-->
                        <!-- Note: Set the link href target to a PDF file within your project-->
                        <a class="btn btn-primary px-4 py-3" target="_blank" href="/assets/cv/cvcarlos.pdf">
                            <div class="d-inline-block bi bi-download me-2"></div>
                            Descargar CV
                        </a>
                    </div>

                    {% for exp in experiences %}

                    <div class="card shadow border-0 rounded-4 mb-4">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">

                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">

                                        <div class="text-primary fw-bolder mb-2">
                                            {{ exp.startDate|date('Y') }}
                                            -
                                            {% if exp.current %}
                                                Present
                                            {% else %}
                                                {{ exp.endDate ? exp.endDate|date('Y') : '' }}
                                            {% endif %}
                                        </div>

                                        <div class="small fw-bolder">
                                            {{ exp.position }}
                                        </div>

                                        <div class="small text-muted">
                                            {{ exp.companyName }}
                                        </div>

                                        <div class="small text-muted">
                                            {{ exp.companyCity }}
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div>
                                        {{ exp.description|raw }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    {% else %}

                    <p>No experience yet.</p>

                    {% endfor %}


                </section>
                <!-- Education Section-->
                <section>

                    <div class="d-flex align-items-center justify-content-between mb-4 mt-5">
                        <h2 class="text-primary fw-bolder mb-0">Formación</h2>
                    </div>


                    {% for edu in educations %}
                    <!-- Education Card 1-->
                    <div class="card shadow border-0 rounded-4 mb-4">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-secondary fw-bolder mb-2">
                                        {{edu.startYear}} - 
                                            {% if edu.current %}
                                                Present
                                            {% else %}
                                                {{ edu.endYear}}
                                            {% endif %}

                                        </div>
                                        <div class="mb-2">
                                            <div class="small fw-bolder">{{edu.schoolName}}</div>
                                            <div class="small text-muted">{{edu.schoolCity}}</div>
                                        </div>
                                        <div class="fst-italic">
                                            <div class="small text-muted">{{edu.title}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8"><div>{{edu.description}}</div></div>
                            </div>
                        </div>
                    </div>

                    {% else %}

                    <p>No Education yet.</p>

                    {% endfor %}

                </section>
                <!-- Divider-->
                <div class="pb-5"></div>
                <!-- Skills Section-->
                <section>
                    <!-- Skillset Card-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">

                            <!-- Professional skills list-->
                            <div class="mb-5">

                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                        <i class="bi bi-tools"></i>
                                    </div>
                                    <h3 class="fw-bolder mb-0">
                                        <span class="text-gradient d-inline">Habilidades profesionales</span>
                                    </h3>
                                </div>

                                {% for row in skills|batch(3) %}

                                    <div class="row row-cols-1 row-cols-md-3 mb-4">

                                        {% for skill in row %}

                                            {% if skill %}
                                            <div class="col mb-4 mb-md-0">
                                                <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                    {{ skill.name }}
                                                </div>
                                            </div>
                                            {% endif %}

                                        {% endfor %}

                                    </div>

                                {% endfor %}

                            </div>

                            <!-- Languages list-->
                            <div class="mb-0">

                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Lenguajes</span></h3>
                                </div>

                                {% for row in languages|batch(3) %}

                                    <div class="row row-cols-1 row-cols-md-3 mb-4">

                                    {% for language in row %}

                                        {% if language %}
                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                {{ language.name }}
                                            </div>
                                        </div>
                                        {% endif %}

                                    {% endfor %}

                                </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


{% endblock %}
